# CF Based Recommender System Model

In [23]:
import pandas as pd
import numpy as np

In [24]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']

In [25]:
df = pd.read_csv('udata.txt', sep='\t', names=column_names)

In [27]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742