# Text Sentiment Analysis using Vader-Lexicon

In [157]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Error loading vader_lexicon: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [119]:
sid = SentimentIntensityAnalyzer()

In [120]:
str1 = ('lion cat pat')

In [121]:
pol1 = sid.polarity_scores(str1)

In [122]:
pol1

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [123]:
df =  pd.read_csv('moviereviews.tsv', sep='\t')

In [124]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [125]:
df['label'].value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [126]:
df['label'].shape

(2000,)

In [127]:
review1 = ' this is one awful book. Never thought of this book to study'
sid.polarity_scores(review1)

{'neg': 0.214, 'neu': 0.786, 'pos': 0.0, 'compound': -0.4588}

In [128]:
def review_str(string):
    scores = sid.polarity_scores(string)
    if scores['compound'] == 0:
        return "Pos"
    elif scores['compound'] < 0:
        return "Neg"
    elif scores['compound'] > 0:
        return "Pos"
    else:
        return "neutral"

In [129]:
review_str(review1)

'Neg'

In [130]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [131]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [132]:
blanks = []

for i, lb, rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)

In [133]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [134]:
df.drop(blanks, inplace=True)

In [135]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [136]:
sid.polarity_scores(df.iloc[0]['review'])

{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'compound': -0.9125}

In [137]:
df['scores'] = df['review'].apply(lambda review:sid.polarity_scores(str(review)))

In [138]:
df.head()

,label,review,scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com..."

In [139]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [141]:
df.head()

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264

In [142]:
df['comp_scores'] = df['compound'].apply(lambda scores:'Positive' if scores>=0 else 'Negative')

In [143]:
df.head()

,label,review,scores,compound,comp_scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,Negative
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,Negative
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,Positive
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,Positive
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,Negative

In [144]:
df.columns

Index(['label', 'review', 'scores', 'compound', 'comp_scores'], dtype='object')

In [145]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [148]:
print(classification_report(df['label'], df['comp_scores']))

              precision    recall  f1-score   support

    Negative       0.00      0.00      0.00       0.0
    Positive       0.00      0.00      0.00       0.0
         neg       0.00      0.00      0.00     986.0
         pos       0.00      0.00      0.00     987.0

    accuracy                           0.00    1973.0
   macro avg       0.00      0.00      0.00    1973.0
weighted avg       0.00      0.00      0.00    1973.0

In [149]:
print(confusion_matrix(df['label'], df['comp_scores']))

[[  0   0   0   0]
 [  0   0   0   0]
 [427 559   0   0]
 [162 825   0   0]]

In [158]:
print(accuracy_score(df['label'], df['comp_scores']))

0.0

In [2]:
df.head(20)