In [2]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('dummy.tsv.csv', sep='\t')

In [9]:
pwd

'C:\\Users\\manie'

In [11]:
data

         fesf,fsef,fsef,fsfe
0         fesf,ees,fsef,fsef
1         fefesf,fsef,sef,sf
2        fseffsf,se,fseff,ff
3  ffefesf,fsefefe,sfef,fsef
4         fesf,fsef,fseff,ff
5          fesf,fsef,fsf,fef

In [13]:
data1 =  pd.read_csv('text files.tsv', sep='\t')

In [17]:
data1

        dwadwa wdadad dwad
0  dwad dwadadd dwad dwadd

In [29]:
i = 0;

while (i<=30):
    if (i%2==0):
        print(i)
    elif (i==10):
        break
    else:
        i+=1
        continue
    i+=1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [33]:
%%writefile 1.text
SSSS  TRTRTRT  FDFFFF of life
the things to dop 
eyeyeu etyeytehyee
eteyteyej

Overwriting 1.text

In [34]:
vocab = {}
i = 1

In [35]:
with open('1.text') as f:
    x= f.read().lower().split()
    
for word in x:
    if word in vocab:
        continue
    else:
        vocab[word] = i
        i+=1
        
    print(vocab)

{'ssss': 1}
{'ssss': 1, 'trtrtrt': 2}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3, 'of': 4}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3, 'of': 4, 'life': 5}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3, 'of': 4, 'life': 5, 'the': 6}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3, 'of': 4, 'life': 5, 'the': 6, 'things': 7}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3, 'of': 4, 'life': 5, 'the': 6, 'things': 7, 'to': 8}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3, 'of': 4, 'life': 5, 'the': 6, 'things': 7, 'to': 8, 'dop': 9}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3, 'of': 4, 'life': 5, 'the': 6, 'things': 7, 'to': 8, 'dop': 9, 'eyeyeu': 10}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3, 'of': 4, 'life': 5, 'the': 6, 'things': 7, 'to': 8, 'dop': 9, 'eyeyeu': 10, 'etyeytehyee': 11}
{'ssss': 1, 'trtrtrt': 2, 'fdffff': 3, 'of': 4, 'life': 5, 'the': 6, 'things': 7, 'to': 8, 'dop': 9, 'eyeyeu': 10, 'etyeytehyee': 11, 'eteyteyej': 12}

In [37]:
one = ['1.text']+[0]*len(vocab)
one

['1.text', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [38]:
with open('1.text') as f:
    x=f.read().lower().split()
    
for word in x:
    one[vocab[word]]+=1
one

['1.text', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]